
<div style="font-size:large; background-color: hotpink; " > Welcom to home page </div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Tên</mat-label>
    <input matInput placeholder="Ex. Tèo" value="Tèo">
  </mat-form-field>

  

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Họ và Tên</mat-label>
    <input matInput placeholder="Ex. Tèo" value="Tèo">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <textarea matInput placeholder="Ex. rtbgbr@gmail.com " ></textarea>
  </mat-form-field>
</form>