<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button  aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span >Shop bán đồ real giả fake</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button routerLink="home" mat-button>HOME</button>
      <button routerLink="shop" mat-button>SHOPPING</button>
      <button routerLink="item" mat-button>ITEM DETAIL</button>
      <button routerLink="cart" mat-button>CART</button>  
    </div>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example androi icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example androi icon">person_pin</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>